@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Glenn is GREAT";
}



<h1>Glenn Livingston</h1>
<!--Lacrosse image-->
<img src="img/glax.jpg" height="280px" /><br />

<h4>What I Hope to Get Out of IS413:</h4>
<p>
    In this class, I want to REALLY learn useful skills that help me to be a dangerous developer. I love
    the creativity involved in development! Sometimes I struggle with the more information-based classes, because
    I love actually doing the work more! It's exciting for me to finish developing a new wep page or program, so I'm
    excited for that feeling of fulfillment to come throughout this course as well.
</p>

<h4>Top 3 Jobs that Interest Me:</h4>
<ul>
    <li>Real-Estate Management/Investment</li>
    <li>E-Commerce Entrepreneurship</li>
    <li>IOS Development</li>
</ul>


<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/jquery/jquery-3.6.0.min.js"></script>
<script src="js/mission.js"></script>

